html, body {
    margin: 0;
}

body {
    background-color: blue;
    background-image: url(../car-3504910_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contenedor {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-form {
    background-color:rgba(255, 0, 0, 0.356);
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
}

h1 {
    color: white;
    font-family: 'Open Sans';
}

.login-form__field {
    margin-bottom: 10px;
}

.login-form__field input {
    width: 230px;
    max-width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

input#check-box {
    width: auto;
    height: 20px;
    width: 20px;
}

input#user {
    padding-left: 35px;
}

input#password {
    padding-left: 35px;
}

[for="check-box"] {
    color: rgb(150, 224, 14);
    font-size: 13px;
    position: relative;
    top: -5px;
    margin-left: 7px;
}

button.login-form__button--button {
    background-color: #0db6f0;
    border: 0;
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    color: #fff;
}